In [6]:
import pandas as pd

In [7]:
meta = pd.read_csv("./_meta.txt")
meta

   Symbol                             Name
0    NQ=F                       Nasdaq 100
1   RTY=F  E-mini Russell 2000 Index Futur
2    ZB=F       U.S. Treasury Bond Futures
3    ZN=F           10-Year T-Note Futures
4    ZF=F  Five-Year US Treasury Note Futu
5    ZT=F            2-Year T-Note Futures
6    GC=F                             Gold
7   MGC=F               Micro Gold Futures
8    SI=F                           Silver
9   SIL=F             Micro Silver Futures
10   PL=F                         Platinum
11   HG=F                           Copper
12   PA=F                        Palladium
13   CL=F                        Crude Oil
14   HO=F                      Heating Oil
15   NG=F                      Natural Gas
16   RB=F                    RBOB Gasoline
17   BZ=F  Brent Crude Oil Last Day Financ
18   ZC=F                     Corn Futures
19   ZO=F                      Oat Futures
20   KE=F             KC HRW Wheat Futures
21   ZR=F               Rough Rice Futures
22   ZM=F             Soybean Meal Futures
23   ZL=F              Soybean Oil Futures
24   ZS=F                  Soybean Futures
25   GF=F            Feeder Cattle Futures
26   HE=F                Lean Hogs Futures
27   LE=F              Live Cattle Futures
28   CC=F                            Cocoa
29   KC=F                           Coffee
30   CT=F                           Cotton
31  LBS=F     Random Length Lumber Futures
32   OJ=F                     Orange Juice
33   SB=F                            Sugar

In [8]:
csv_list = []
for symbol in meta["Symbol"]:
    filename = symbol + ".csv"
    df = pd.read_csv(filename)
    df['Symbol'] = symbol
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    csv_list.append(df)

In [13]:

vertical_stack = None
for df in csv_list:
    if vertical_stack is None:
        vertical_stack = csv_list[0]
    else:
        vertical_stack = pd.concat([vertical_stack, df], axis=0)
vertical_stack

,Symbol,Date,Open,High,Low,Close,Volume
0,NQ=F,2000-09-18,3721.000000,3785.500000,3602.00,3653.500000,72994
1,NQ=F,2000-09-19,3658.500000,3817.000000,3656.00,3804.000000,70029
2,NQ=F,2000-09-20,3801.500000,3874.000000,3715.50,3853.000000,78832
3,NQ=F,2000-09-21,3852.000000,3874.000000,3744.00,3765.000000,70719
4,NQ=F,2000-09-22,3673.000000,3780.000000,3615.00,3776.000000,55926
...,...,...,...,...,...,...,...
5591,SB=F,2022-06-17,18.719999,18.959999,18.57,18.600000,38578
5592,SB=F,2022-06-21,18.600000,19.000000,18.60,18.660000,40693
5593,SB=F,2022-06-22,18.600000,18.600000,18.42,18.450001,43510
5594,SB=F,2022-06-23,18.420000,18.549999,18.32,18.379999,37101
5595,SB=F,2022-06-24,18.330000,18.370001,18.15,18.290001,55486

In [15]:
vertical_stack.to_csv("_commo_merged.csv", index=False)

In [ ]:
meta.to_csv("_commo_meta.csv", index = False)